.summary {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    background-color: #4068FF;
    grid-template-rows: 50px 226px 30px;
    padding: 16px;
    border-radius: 15px;
    box-shadow: #7693f8 0px 4px 6px 0px;

    &__title {
        font-weight: bold;
        font-size: 32px;
        color: #eae7f6;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;

        &__row {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            height: 20px;
            grid-gap: 16px;

            &__amount {
                text-align: end;
                padding-right: 64px;
            }
        }
    }

    &__total {
        display: grid;
        justify-content: left;
        align-content: start;
        padding: 8px;
    }
}