.sidenav{
  background-color: #2b2b2b;
  width: 10%;
  height: 100vh;

}

.badger-logo{
  float: left;
  height: 100px;
  width: 100px;
  background-image: url(../src/assets/badger-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20px;
  margin-top: 20px;
}
/* React App Main Block of content Styling*/
App{
  padding: 0;
  margin: 0;
background-image: url(../src/assets/bg.svg);
height: 100vh;
width: 100%;
}

