:root {
  --backgroundColor: #171A32;
  --secondaryColor: #242746;
  --primaryButton: #5372C2;
  --secondaryButton: #E96B9C;
  --orangeColor: #DD9F65;
  --pinkVariant: #8F3870;
  --indicationColor: #6FCDBB;
  --headingColor: #F7F9FF;
  --bodyTextColor: #D9D9D9;
}

.App {
  display: grid;
  grid-template-columns: 25% 75%;
}

