$background-color: #171A32;
$secondary-color: #242746;
$primary-button: #5372C2;
$secondary-button: #E96B9C;
$orange-color: #DD9F65;
$pink-variant: #8F3870;
$indication-color: #6FCDBB;
$heading-color: #F7F9FF;
$bodyText-color: #D9D9D9;